{% extends 'front.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section id="user-login" class="user-login">
        <div class="container">
            <form method="post" class="php-email-form">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {# {% if app.flashes('success_registration') %} #}
                    {% for message in app.flashes('success_registration') %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}

                    {% for message in app.flashes('success-password-change') %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}

                    {% for message in app.flashes('mail_changed_success') %}
                        <div class="alert alert-success">{{ message }}</div>
                        {% set last_username = ''  %} 
                    {% endfor %}
                    
                {# {% endif %} #}

    

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté(e) en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% else %}
                    <h1 class="h3 mb-3 font-weight-normal"><i class="bi bi-lock-fill"></i> Connectez-vous</h1>

                    <div class="row">
                        <div class="col-md-4 form-group">
                        
                            <label for="inputEmail">Email <i class="bi bi-envelope"></i></label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="inputPassword">Mot de passe <i class="bi bi-key"></i></label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>
                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >
                    </div>

                    <button class="btn btn-lg btn-primary" type="submit" style="margin-top: 20px;">
                        <i class="bi bi-box-arrow-in-right"></i> Se connecter
                    </button>
                    <p><a href="{{ path('forgotten_password') }}">Mot de passe oublié</a></p>
                    <p>Pas encore membre, inscrivez-vous <a href="{{ path('registration') }}">ici</a></p>

                {% endif %}
                
            </form>
        </div>
        
    </section>
{% endblock %}
