{% extends 'front.html.twig' %}

{% block title %}Studio Prestige - {{ photo.title }}{% endblock %}

{% block body %}
  
    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Une de nos réalisation</h2>
            <p>Voici une de nos réalisation d'un de nos photographes en utilisant son expertise et sa créativité pour créer cette image unique et saisissante.</p>

            <a class="cta-btn" href="{{ path('services') }}">Voir nos tarifs</a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

  <!-- ======= Gallery Single Section ======= -->
  <section id="gallery-single" class="gallery-single">
    <div class="container">

      {# <div class="position-relative h-100">
        <div class="slides-1 portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center">

            <div class="swiper">
              <img src="{{ asset('build/' ~ photo.url )}}" alt="{{ photo.alt }}">
            </div>
           

          </div> #}
          {# <div class="swiper-pagination"></div> #}
        {# </div> #}
        {# <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> #}

      {# </div> #}
      <div class="img-container">
        <img src="{{ asset('build/' ~ photo.url )}}" alt="{{ photo.alt }}">
      </div>
      {# <img src="{{ asset('build/' ~ photo.url )}}" alt="{{ photo.alt }}"> #}

      <div class="row justify-content-between gy-4 mt-4">

        <div class="col-lg-8">
          <div class="portfolio-description">
            <h2>{{ photo.title }}</h2>
            <div>
              {{ photo.descriptions }}
            </div>

            {# <div class="testimonial-item">
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
              <div>
                <img src="{{ asset('/build/' ~ photo.idPhotograph.imageProfile.url) }}" class="testimonial-img" alt="">
                <h3>{{ photo.idPhotograph.name }}</h3>
                <h4>Photographe</h4>
              </div>
            </div> #}

          

          </div>
        </div>

        <div class="col-lg-3">
          <div class="portfolio-info">
            <h3>Informations</h3>
            <ul>
              <li><strong>Categories</strong>
              {% for category in photo.categoriesPhotos %}
                 <span>{{ category.label }}</span>
              {% endfor %} 
             
              
              </li>
              <li><strong>Client</strong> <span>{{ photo.client }}</span></li>
              <li><strong>Photographe</strong> <span>{{ photo.idPhotograph.name }} </span></li>
              {# <li><strong>Project date</strong> <span>01 March, 2022</span></li>
              <li><strong>Project URL</strong> <a href="#">www.example.com</a></li>
              <li><a href="#" class="btn-visit align-self-start">Visit Website</a></li> #}
            </ul>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Gallery Single Section -->
  
{% endblock %}
